<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>评论管理 | Naccl's Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body class="site">

  <!--导航-->
  <nav th:replace="admin/_fragments :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui teal header item">管理后台</h2>
        <a href="#" class="active item m-mobile-hide m-item"><i class="home icon"></i>博客</a>
        <a href="#" class="item m-mobile-hide m-item"><i class="idea icon"></i>分类</a>
        <a href="#" class="item m-mobile-hide m-item"><i class="tags icon"></i>标签</a>
        <a href="#" class="item m-mobile-hide m-item"><i class="edit outline icon"></i>留言</a>
        <div class="right m-mobile-hide menu m-item">
          <div class="ui dropdown item">
            <div class="text">
              <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">Naccl
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="#" class="item">注销</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" th:href="@{/admin/comments}" class="item">评论列表</a>
        <a href="#" th:href="@{/admin/comments/trashes}" class="teal active item">回收站</a>
      </div>
    </div>
  </div>

  <div class="site-content">

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
      <div class="ui container">

        <!-- message不为空时显示 -->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
          <i class="close icon"></i>
          <div class="header">提示：</div>
          <p th:text="${message}">操作成功！</p>
        </div>

        <table class="ui celled table">
          <thead>
          <tr>
            <th></th>
            <th>昵称</th>
            <th>评论</th>
            <th>所在文章</th>
            <th>时间</th>
            <th>操作</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="comment,iterStat : ${page.content}">
            <td th:text="${iterStat.count}">1</td>
            <td>
              <div class="m-align">
                <img class="m-align" style="width: 35px;height: 35px;float: left;margin-right: 10px;" src="/images/02.jpg" th:src="${comment.avatar}">
                <div class="m-align">
                  <strong th:text="${comment.nickname}">Naccl</strong><br>
                  <a href="javascript:;" th:text="${comment.email}"></a>
                </div>
              </div>
              <div>
                <a href="javascript:;" th:text="${comment.ip}"></a>
              </div>
            </td>
            <td>
              <p th:if="${comment.parentComment}!=null">
                <span>回复给</span>
                <a href="javascript:;" th:text="${comment.parentComment.nickname}">Naccl</a>
              </p>
              <p th:text="${comment.content}">到此一游</p>
            </td>
            <td>
              <a href="#" th:href="${comment.aboutMe} ? @{/about} : @{/blog/{id}(id=${comment.blog.id})}" target="_blank" th:text="${comment.aboutMe} ? '关于我' : ${comment.blog.title}">博客</a></td>
            <td th:text="${comment.createTime}">2020-05-03</td>
            <td>
              <a href="#" th:href="@{/admin/comments/{id}/publish(id=${comment.id})}" class="ui mini teal basic button">还原</a>
              <a href="#" th:data-href="@{/admin/comments/{id}/delete(id=${comment.id})}" class="ui mini red basic delete button">删除</a>
            </td>
          </tr>
          </tbody>

          <tfoot>
          <tr>
            <th colspan="6">
              <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                <a th:href="@{/admin/comments/trashes(page=${page.number}-1)}" class="item" th:unless="${page.first}">上一页</a>
                <a th:href="@{/admin/comments/trashes(page=${page.number}+1)}" class="item" th:unless="${page.last}">下一页</a>
              </div>
            </th>
          </tr>
          </tfoot>

        </table>
      </div>
    </div>

    <!-- 确认框 -->
    <div class="ui basic modal">
      <div class="ui icon header"><i class="trash alternate outline icon"></i>删除</div>
      <div class="content"><h1>若该评论含有子评论，将一并删除，是否确认？</h1></div>
      <div class="actions">
        <div class="ui basic cancel inverted button"><i class="remove icon"></i>取消</div>
        <div id="ok" class="ui red ok inverted button"><i class="checkmark icon"></i>删除</div>
      </div>
    </div>

  </div>

  <!--底部footer-->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
  </footer>

  <!--/*/<th:block th:replace="admin/_fragments :: myScript">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->

  <script>
      //消息提示关闭初始化
      $('.message .close').on('click', function () {
          $(this).closest('.message').transition('fade');
      });

      var url;
      $('.delete.button').click(function (event) {
          event.preventDefault();
          url = $(this).attr('data-href');
          $('.ui.basic.modal').modal('show');
      });

      $('#ok').click(function () {
          window.location.href = url;
      });
  </script>
</body>
</html>