<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>标签管理 | Naccl'Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body class="site">

  <!--导航-->
  <nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui teal header item">管理后台</h2>
        <a href="#" class="active item m-mobile-hide m-item"><i class="home icon"></i>博客</a>
        <a href="#" class="item m-mobile-hide m-item"><i class="idea icon"></i>分类</a>
        <a href="#" class="item m-mobile-hide m-item"><i class="tags icon"></i>标签</a>
        <a href="#" class="item m-mobile-hide m-item"><i class="edit outline icon"></i>留言</a>
        <div class="right m-mobile-hide menu m-item">
          <div class="ui dropdown item">
            <div class="text">
              <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">Naccl
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="#" class="item">注销</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" th:href="@{/admin/tags}" class="teal active item">列表</a>
        <a href="#" th:href="@{/admin/tags/input}" class="item">新增</a>
      </div>
    </div>
  </div>

  <div class="site-content">

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
      <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
          <i class="close icon"></i>
          <div class="header">提示：</div>
          <p th:text="${message}">操作成功！</p>
        </div>

        <table class="ui celled table">
          <thead>
          <tr>
            <th></th>
            <th>名称</th>
            <th>颜色</th>
            <th>操作</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="tag,iterStat : ${page.content}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${tag.name}">刻意练习清单</td>
            <td th:text="${tag.color}">red</td>
            <td>
              <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="ui mini teal basic button">编辑</a>
              <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red basic button">删除</a>
            </td>
          </tr>
          </tbody>

          <tfoot>
          <tr>
            <th colspan="6">
              <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                <a th:href="@{/admin/tags(page=${page.number}-1)}" class="item" th:unless="${page.first}">上一页</a>
                <a th:href="@{/admin/tags(page=${page.number}+1)}" class="item" th:unless="${page.last}">下一页</a>
              </div>
              <a href="#" th:href="@{/admin/tags/input}" class="ui mini right floated teal basic button">新增</a>
            </th>
          </tr>
          </tfoot>

        </table>
      </div>
    </div>

  </div>

  <!--底部footer-->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
  </footer>

  <!--/*/<th:block th:replace="admin/_fragments :: myScript">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->

  <script>
      //消息提示关闭初始化
      $('.message .close').on('click', function () {
          $(this).closest('.message').transition('fade');
      });
  </script>
</body>
</html>