<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>标签管理 | Naccl'Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body class="site">

  <!--导航-->
  <nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui teal header item">管理后台</h2>
        <a href="#" class="active item m-mobile-hide m-item"><i class="home icon"></i>博客</a>
        <a href="#" class="item m-mobile-hide m-item"><i class="idea icon"></i>分类</a>
        <a href="#" class="item m-mobile-hide m-item"><i class="tags icon"></i>标签</a>
        <a href="#" class="item m-mobile-hide m-item"><i class="edit outline icon"></i>留言</a>
        <div class="right m-mobile-hide menu m-item">
          <div class="ui dropdown item">
            <div class="text">
              <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">Naccl
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="#" class="item">注销</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" th:href="@{/admin/tags}" class="item">列表</a>
        <a href="#" th:href="@{/admin/tags/input}" class="active teal item">新增</a>
      </div>
    </div>
  </div>

  <div class="site-content">

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
      <div class="ui container">
        <form action="#" method="post" th:object="${tag}" th:action="@{/admin/tags}" class="ui form">

          <input type="hidden" name="id" th:value="*{id}">
          <div class="field">
            <div class="ui left labeled input">
              <label class="ui teal basic label">名称</label>
              <input type="text" name="name" placeholder="标签名称" th:value="*{name}">
            </div>
          </div>
          <div class="field">
            <div class="ui left labeled input">
              <label id="selectColor" class="ui label" th:classappend="*{color}">颜色</label>
              <div class="ui fluid selection dropdown" onchange="change()">
                <input type="hidden" name="color" th:value="*{color}">
                <i class="dropdown icon"></i>
                <div class="default text">颜色</div>
                <div class="menu">
                  <div class="item" data-value="red" th:data-value="red">红色</div>
                  <div class="item" data-value="red" th:data-value="orange">橘黄</div>
                  <div class="item" data-value="red" th:data-value="yellow">黄色</div>
                  <div class="item" data-value="red" th:data-value="olive">橄榄绿</div>
                  <div class="item" data-value="red" th:data-value="green">纯绿</div>
                  <div class="item" data-value="red" th:data-value="teal">水鸭蓝</div>
                  <div class="item" data-value="red" th:data-value="blue">纯蓝</div>
                  <div class="item" data-value="red" th:data-value="violet">紫罗兰</div>
                  <div class="item" data-value="red" th:data-value="purple">紫色</div>
                  <div class="item" data-value="red" th:data-value="pink">粉红</div>
                  <div class="item" data-value="red" th:data-value="brown">棕色</div>
                  <div class="item" data-value="red" th:data-value="grey">灰色</div>
                  <div class="item" data-value="red" th:data-value="black">黑色</div>
                </div>
              </div>
            </div>
          </div>

          <div class="ui error message"></div>
          <!--/*/
          <div class="ui negative message" th:if="${#fields.hasErrors('name')}"  >
            <i class="close icon"></i>
            <div class="header">错误</div>
            <p th:errors="*{name}">提交信息不符合规则</p>
          </div>
           /*/-->
          <div class="ui right aligned container">
            <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
            <button class="ui teal submit button">提交</button>
          </div>

        </form>
      </div>
    </div>

  </div>

  <!--底部footer-->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
  </footer>

  <!--/*/<th:block th:replace="admin/_fragments :: myScript">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->

  <script>
      var color = $("[name='color']").val();
      function change(){
          $("#selectColor").removeClass(color);
          color = $("[name='color']").val();
          $("#selectColor").addClass(color);
      }

      //消息提示关闭初始化
      $('.message .close').on('click', function () {
          $(this).closest('.message').transition('fade');
      });

      $('.submit').click(function () {
          $('.negative.message').hide();
      });

      $('.ui.form').form({
          fields: {
              name: {
                  identifier: 'name',
                  rules: [{
                      type: 'empty',
                      prompt: '请输入标签名称'
                  }]
              },
              color: {
                  identifier: 'color',
                  rules: [{
                      type: 'empty',
                      prompt: '请选择颜色'
                  }]
              }
          }
      });
  </script>
</body>
</html>