.skills{
  width: 100%;
  /*max-width: 900px;*/
  padding: 0 20px;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  /*text-transform: uppercase;*/
  margin-top: 10px;
  margin-bottom: 10px;
}

.skill-bar{
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per{
  height: 20px;
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

.color-orange{
  background-color: #FFA500;
}

.color-red{
  background-color: #e05d44;
}

.color-blue{
  background-color: #0fbcf9;
}

.color-blueviolet{
  background-color: #8833D7;
}